  body  {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(63, 62, 126, 0.705);
}

        /*Navbar*/

.navbar{
  background-color: rgba(63, 62, 126, 0.705);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  border-radius: 5px;
}

.nav-item{
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;  
}


.nav-link{
  display: block;
  padding: 2rem 1.5rem;
  will-change: color;
  transition: color .25s ease-out;  

  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:focus{
  outline: 2px solid #fff;
}

@media (min-width: 601px){

  .nav-item{
    display: flex;  
  }

  .menu__group{
    flex-grow: 1;
  }

  .nav-link{
    position: relative;
    overflow: hidden;
  }


  .nav-link:before, .nav-link:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;

    will-change: width;
    transition: width .05s ease-out;

    position: absolute;
    bottom: 0;
  }

  .nav-link:before{
    left: 50%;
    transform: translateX(-50%); 
  }

  .nav-link:after{
    right: 50%;
    transform: translateX(50%); 
  }

  .nav-link:hover:before, .nav-link:hover:after{
    width: 100%;
    transition-duration: .15s;
  }
}

/* hover effect */

.menu:hover .nav-link:not(:hover){
  color: #241c69;
}
  
  .presentation {
    background-image: url("https://goodfirms.s3.amazonaws.com/blog/192/Web-development-banner.png");
    min-height: 50em;
    color: white;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    background-attachment: fixed;
    background-size: cover;
  }

  #bienvenue p {
    color: white;
  }
/*Projets*/
  #projets {
    background-color: rgba(63, 62, 126, 0.705);
    padding-top: 50px;
    }

      /*Langages*/

  #langage {
    opacity: 0.6;
    padding-top: 100px;
  }


      /*Jumbotron*/

  .jumbotron p {
    color: rgb(41, 34, 34);
  }

      /*cartes*/

  .card {
      margin-bottom: 100px;
      transition: .5s;  
  }
  

  .card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px;
  }

#langages {
  background-image: url("http://cobaltdesign.ie/wp-content/uploads/2018/08/Website-Design-Background.png");
  background-attachment: fixed;
  lighting-color: #fff;
  border-bottom:solid #ced4da 3px;
}

#langages h2 {
  color: black;
  font-size: 5em; 
  font-family: 'Oswald', sans-serif;

}

#langages img {
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 80%;
  transition: .5s;
}

#langages img:hover {
  transform: scale(1.123);
}

 h2 {
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3em;
}

.margin {
  height: 60px;
  background-color: rgba(63, 62, 126, 0.705);
  border-bottom: solid white 3px;
  border-top: solid white 3px;
  
}


        /*Contact*/

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact  {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat';
}

i {
  font-size: 5em;
  color: black;
}



#contact button {
  margin-bottom: 10px;
  
}

* {
  margin: 0;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 550px;
}

.wrapper ul {
  list-style: none;
}


.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}


.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.github {
  border: 5px solid #121e38;
  box-shadow: 0 0 15px #121e38;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #121e38;
  text-shadow: 0 0 15px #121e38;
  transition: all 0.5s ease;
}

/*gitlab*/
.wrapper ul li:hover.gitlab {
  border: 5px solid #cf5300;
  box-shadow: 0 0 15px #cf5300;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-gitlab {
  color: #cf5300;
  text-shadow: 0 0 15px #cf5300;
  transition: all 0.5s ease;
}

/* linkedin */
.wrapper ul li:hover.linkedin {
  border: 5px solid #0212ff;
  box-shadow: 0 0 15px #0212ff;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #0212ff;
  text-shadow: 0 0 15px #0212ff;
  transition: all 0.5s ease;
}



/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}

li:hover #speech-bubble {
  display: block;
}

